body{
	padding-top: 40px;
	background-color: yellow
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
    width: 500px;
}

/* Declare heights because of positioning of img element */
.carousel{
  /*height: 500px; */
  background-color: #777;
}
